body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#content {
  display: grid;
  height: 100vh;
  grid-template-areas: "top-left top-right" "middle middle" "bottom bottom";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  background: rgb(243, 241, 241);
}

#top-left-div {
  grid-area: top-left;
  padding-left: 15px;
}

#search-bar {
  padding: 20px 5px;
}

#search-bar > button {
  width: auto;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

#search-bar > input {
  font-size: 20px;
  width: 200px;
  height: 22px;
  border-radius: 5px;
  border-color: rgb(217, 217, 238);
}

#location-div > p {
  font-size: 28px;
  margin: 5px;
  padding: 0;
}

#weather-div {
  grid-area: top-right;
  display: grid;
  justify-content: end;
  grid-template-rows: 100px 100px;
}

#current-temp-div {
  display: flex;
  align-items: center;
}

#current-misc-div > p {
  font-size: 18px;
  padding: 0;
  margin: 5px;
}

#condition {
  margin: 0;
  font-size: 35px;
}

#temperature {
  font-size: 45px;
  margin: 0;
}

#forecast-div {
  margin: 0;
  padding: 0;
  grid-area: bottom;
  background: rgb(150, 150, 150);
}

#forecast {
  padding: 35px 0 35px;
  display: flex;
  justify-content: space-around;
}

#forecast > li {
  display: grid;
  grid-template-rows: 30px 50px 50px;
  text-align: center;
  justify-content: center;
  width: 150px;
  height: auto;
  border: 1px solid orange;
  background: rgb(235, 169, 169);
}

.forecast-daily-temp {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  width: 125px;
}

.forecast-icon {
  justify-self: center;
}

.forecast-max {
  color: white;
}

.forecast-min {
  color: rgb(112, 106, 106);
}

#canvas-div {
  grid-area: middle;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}

#forecast-canvas {
  height: 100%;
  width: 100%;
}

#canvas-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#weather-icon {
  padding: 0;
  width: 100px;
  height: auto;
}

li {
  display: inline-block;
}

#forecast .toggle-forecast {
  background: rgb(228, 184, 184);
  border: 1px solid rgb(211, 224, 133);
}
